<div>
  <nb-card>
    <nb-card-header>
      <nb-icon class="mr-2" icon="search"></nb-icon>Filtro de Búsqueda
    </nb-card-header>
    <nb-card-body>
      <nb-tabset>
        <nb-tab tabTitle="Planificación">
          <frusan-planification-table>
          </frusan-planification-table>
        </nb-tab>
        <nb-tab tabTitle="Ingreso Tarea">
          <div class="row mt-3">
            <div class="col-3">
              <button
                nbButton
                status="primary"
                size="small"
                (click)="modalConfirmacion()"
              >
                Modal Confirmación
              </button>
            </div>
            <div class="col-3">
              <button
                nbButton
                status="warning"
                size="small"
                (click)="modalAdvertencia()"
              >
                Modal Advertencia
              </button>
            </div>
            <div class="col-3">
              <button
                nbButton
                status="primary"
                size="small"
                (click)="modalAbircomponente()"
              >
                Modal - Producto
              </button>
            </div>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Control Tarea">
          Disponible para agregar contenido...
        </nb-tab>
        <nb-tab tabTitle="Reporte Detalle Tarea">
          Disponible para agregar contenido...
        </nb-tab>
        <nb-tab tabTitle="Reporte Simple Tarea">
          Disponible para agregar contenido...
        </nb-tab>
        <nb-tab tabTitle="Mantenedor">
          <frusan-mantenedor
            [titleType]="tituloMantendor"
            [registers]= "datosRegistros"
            [countcolumn]="cantidadColumna"
          >
          </frusan-mantenedor>
        </nb-tab>
        <nb-tab tabTitle="Ejemplo-Filtro">
          <frusan-ejemplo-table>
          </frusan-ejemplo-table>
        </nb-tab>
       </nb-tabset>
    </nb-card-body>
  </nb-card>
</div>




