<div>
  <nb-card>
    <nb-card-header>
      <nb-icon class="mr-2" icon="search"></nb-icon>Filtro de Búsqueda
    </nb-card-header>
    <nb-card-body>
      <nb-tabset>
        <nb-tab tabTitle="Planificación">
          <frusan-planification-table>

          </frusan-planification-table>
        </nb-tab>
        <nb-tab tabTitle="Ingreso Tarea">
          Tab content 2
        </nb-tab>
        <nb-tab tabTitle="Control Tarea">
          Tab content 2
        </nb-tab>
        <nb-tab tabTitle="Reporte Detalle Tarea">
          Tab content 2
        </nb-tab>
        <nb-tab tabTitle="Reporte Simple Tarea">
          Tab content 2
        </nb-tab>
       </nb-tabset>
    </nb-card-body>
  </nb-card>
</div>



