<div>
    <nb-card>
      <nb-card-header>
        <nb-icon class="mr-2" icon="search"></nb-icon>Mantenedor Campo
      </nb-card-header>
      <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="Tipo Suelo">
            <frusan-tipo-suelo
                [datos] = "tipoSueloData"
            >

            </frusan-tipo-suelo>
          </nb-tab>
          <nb-tab tabTitle="Campo" [disabled]="true">

          </nb-tab>
          <nb-tab tabTitle="Huerto" [disabled]="true">

          </nb-tab>
          <nb-tab tabTitle="Sector" [disabled]="true">

        </nb-tab>
        <nb-tab tabTitle="Especie/Variedad" [disabled]="true">

        </nb-tab>
        <nb-tab tabTitle="Sector/Variedad" [disabled]="true">

        </nb-tab>
         </nb-tabset>
      </nb-card-body>
    </nb-card>
</div>
