

<div class="container">
  <form [formGroup]= "form">
    <div class="row">
      <div class="col-6">
        <div>
          <label class="label" for="txtNombre">Nombre:</label>
        </div>
        <input nbInput id="txtNombre" formControlName="nombre" >
      </div>
      <div class="col-6">
        <div>
          <label class="label" for="txtNombre">Apellido:</label>
        </div>
        <input nbInput id="txtNombre" formControlName="apellido" >
      </div>
    </div>
    <div class="mt-2 text-right">
      <button nbButton status="primary" (click)="muestraDatos()" [disabled]="!form.valid" >Mostrar Nombre</button>
      <!-- [disabled]="!form.valid" -->
    </div>
  </form>
</div>
