<nb-card>
  <nb-card-header>
    Inicio de sesión
  </nb-card-header>
  <nb-card-body>
    <div class="mt-3">
      <div>
        <label class="Label" for="">Usuario</label>
      </div>
      <div>
        <input nbInput type="text" placeholder="Ingrese usuario">
      </div>
    </div>
    <div class="mt-3">
      <div>
        <label class="Label" for="">Contraseña</label>
      </div>
      <div>
        <input nbInput type="text" placeholder="Ingrese contraseña">
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div>
      <button nbButton status="success">Ingresar</button>
    </div>
  </nb-card-footer>
</nb-card>


