<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-lg-6">
        <div>
          <nb-icon class="mr-2" icon="search"></nb-icon>
          <label class="label" for="search">
            <span>Búsqueda:</span>
          </label>
        </div>
        <input
          id="search"
          nbInput
          placeholder="Ingrese palabra clave..."
        >
      </div>
      <div class="col-lg-6 text-right">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <button nbButton size="small" status="primary">+Agregar</button>
      </div>
    </div>
    <div class="mt-1">
      <table class="table table-bordered table-condensed table-striped table-hover table-sm text-center">
        <thead class="headTable">
          <tr>
            <th *ngFor="let title of registers.cabeceras" id="{{ title.id }}">{{ title.nombre }}</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let register of registers.registros">
            <td *ngIf="greaterThan(countcolumn, 1)">{{register.Aplicacion}}</td>
            <td *ngIf="greaterThan(countcolumn, 2)">{{register.Nombre | uppercase}}</td>
            <td *ngIf="greaterThan(countcolumn, 3)">{{register.SectorHuerto}}</td>
            <td *ngIf="greaterThan(countcolumn, 4)">{{register.ObjetivoAplicacion}}</td>
            <td *ngIf="greaterThan(countcolumn, 5)">{{register.Dimensiones}}</td>
            <td *ngIf="greaterThan(countcolumn, 6)">{{register.Producto}}</td>
            <td>
              <nb-icon
                icon="edit"
                nbTooltip="Editar"
                (click)="editar()"
                status="success"
              ></nb-icon>
            </td>
            <td>
              <nb-icon
                icon="trash"
                nbTooltip="Eliminar"
                (click)="eliminar()"
                status="danger"
              ></nb-icon>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </nb-card-body>
</nb-card>


<!-- <th>Aplicación</th>
            <th>Nombre</th>
            <th>Sector</th>
            <th>Objetivo</th>
            <th>Dimensiones</th>
            <th colspan="2"></th> -->
