<div>
    <nb-card>
      <nb-card-header>
        <nb-icon class="mr-2" icon="search"></nb-icon>Mantenedor Parametros
      </nb-card-header>
      <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="Unidad de medida">
            <frusan-unidad-medida
                [datos] = "unidadMedidaData"
            >
  
            </frusan-unidad-medida>
          </nb-tab>
          <nb-tab tabTitle="Tipo Labor" [disabled]="true">
            <frusan-tipo-labor>
  
            </frusan-tipo-labor>
          </nb-tab>
          <nb-tab tabTitle="Concepto/Valor">
            <frusan-concepto-valor
            [datos] = "conceptoValorData"
            >
  
            </frusan-concepto-valor>
          </nb-tab>
         </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>

