<div>
    <nb-card>
      <nb-card-header>
        <nb-icon class="mr-2" icon="search"></nb-icon>Mantenedor Parametros
      </nb-card-header>
      <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="Unidad de medida">
            <frusan-mantenedor
              [titleType]="tituloMantendor"
              [registers]= "datosUnidadMedida"
              [countcolumn]="cantidadUnidad"
            >
  
            </frusan-mantenedor>
          </nb-tab>
          <nb-tab tabTitle="Tipo Labor">
            <frusan-mantenedor
              [titleType]="tituloMantendor"
              [registers]= "datosTipoLabor"
              [countcolumn]="cantidadLabor"
            >
  
            </frusan-mantenedor>
          </nb-tab>
          <nb-tab tabTitle="Concepto/Valor">
            <frusan-mantenedor
              [titleType]="tituloMantendor"
              [registers]= "datosConceptoValor"
              [countcolumn]="cantidadConcepto"
            >
  
            </frusan-mantenedor>
          </nb-tab>
         </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>

