<div>
    <nb-card>
      <nb-card-header>
        <nb-icon class="mr-2" icon="search"></nb-icon>Mantenedor Recurso
      </nb-card-header>
      <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="Maquina">
            <frusan-mantenedor
              [titleType]="tituloMantendor"
              [registers]= "datosRegistros"
              [countcolumn]="cantidadColumna"
            >
  
            </frusan-mantenedor>
          </nb-tab>
          <nb-tab tabTitle="Recurso">
            <frusan-mantenedor
              [titleType]="tituloMantendor"
              [registers]= "datosRegistros"
              [countcolumn]="cantidadColumna"
            >
  
            </frusan-mantenedor>
          </nb-tab>

         </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
