<div>
  <nb-card>
    <nb-card-header>
      <nb-icon class="mr-2" icon="search"></nb-icon>Mantenedores
    </nb-card-header>

    <nb-card-body>
      <div class="row">
        <div class="list-group col-lg-3 text-left">
          <a href="#" class="list-group-item list-group-item-action active">
            PARAMETROS
          </a>
          <a href="#" class="list-group-item list-group-item-action">Unidad de Medida</a>
          <a href="#" class="list-group-item list-group-item-action">Tipo Labor</a>
          <a href="#" class="list-group-item list-group-item-action">Concepto Valor</a>
        </div>

        <div class="list-group col-lg-3 text-left">
          <a href="#" class="list-group-item list-group-item-action active">
            SISTEMA
          </a>
          <a href="#" class="list-group-item list-group-item-action">Usuario</a>
          <a href="#" class="list-group-item list-group-item-action">Perfil/Usuario</a>
        </div>

        <div class="list-group col-lg-3 text-left">
          <a href="#" class="list-group-item list-group-item-action active">
            RECURSO
          </a>
          <a href="#" class="list-group-item list-group-item-action">Maquina</a>
          <a href="#" class="list-group-item list-group-item-action">Recurso</a>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="list-group col-lg-3 text-left">
          <a href="#" class="list-group-item list-group-item-action active">
            CAMPOS
          </a>
          <a href="#" class="list-group-item list-group-item-action">Tipo Suelo</a>
          <a href="#" class="list-group-item list-group-item-action">Campo</a>
          <a href="#" class="list-group-item list-group-item-action">Huerto</a>
          <a href="#" class="list-group-item list-group-item-action">Sector</a>
          <a href="#" class="list-group-item list-group-item-action">Especie/Variedad</a>
          <a href="#" class="list-group-item list-group-item-action">Sector Variedad</a>
        </div>

        <div class="list-group col-lg-3 text-left">
          <a href="#" class="list-group-item list-group-item-action active">
            PRODUCTO
          </a>
          <a href="#" class="list-group-item list-group-item-action">Grupo/Subgrupo</a>
          <a href="#" class="list-group-item list-group-item-action">Ingrediente Activo</a>
          <a href="#" class="list-group-item list-group-item-action">Aplicación/Concepto</a>
          <a href="#" class="list-group-item list-group-item-action">Producto</a>
          <a href="#" class="list-group-item list-group-item-action">Solución Madre</a>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
