<div>
    <nb-card>
      <nb-card-header>
        <nb-icon class="mr-2" icon="search"></nb-icon>Mantenedor Producto
      </nb-card-header>
      <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="Grupo/Subgrupo">
            <frusan-mantenedor
              [titleType]="tituloMantendor"
              [registers]= "datosRegistros"
            >
  
            </frusan-mantenedor>
          </nb-tab>
          <nb-tab tabTitle="Ingrediente Activo">
            <frusan-mantenedor
              [titleType]="tituloMantendor"
              [registers]= "datosRegistros"
            >
  
            </frusan-mantenedor>
          </nb-tab>
          <nb-tab tabTitle="Aplicación/Concepto">
            <frusan-mantenedor
              [titleType]="tituloMantendor"
              [registers]= "datosRegistros"
            >
  
            </frusan-mantenedor>
          </nb-tab>
          <nb-tab tabTitle="Producto">
            <frusan-mantenedor
              [titleType]="tituloMantendor"
              [registers]= "datosRegistros"
            >
  
            </frusan-mantenedor>
          </nb-tab>
          <nb-tab tabTitle="Solución Madre">
            <frusan-mantenedor
              [titleType]="tituloMantendor"
              [registers]= "datosRegistros"
            >
  
            </frusan-mantenedor>
          </nb-tab>
         </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
