<div class="container">
    <nb-card>
      <nb-card-header>
        <div>
          <nb-icon class="mr-2 text-right" icon="sync-outline" *ngIf="tipoConfirmacion"></nb-icon>
          <nb-icon class="mr-2 text-right" icon="alert-triangle-outline" *ngIf="!tipoConfirmacion"></nb-icon>
          <label class="label" style="font-size: 12px;">{{ titulo }}</label>
        </div>
      </nb-card-header>
      <nb-card-body>
        <p>{{ mensaje }}</p>
      </nb-card-body>
      <nb-card-footer>
        <div class="row">
          <div class="col-6 text-center" *ngIf="tipoConfirmacion">
            <button
              nbButton
              status="primary"
              size="small"
              (click)="aceptar()"
            >
              Aceptar
           </button>
          </div>
          <div class="col-12 text-right" *ngIf="!tipoConfirmacion">
            <button
              nbButton
              status="primary"
              size="small"
              (click)="aceptar()"
            >
              Aceptar
           </button>
          </div>
          <div class="col-6 text-center" *ngIf="tipoConfirmacion">
            <button
              nbButton
              status="danger"
              size="small"
              (click)="cancelar()"
            >
             Cancelar
            </button>
          </div>

        </div>
      </nb-card-footer>
    </nb-card>

</div>
